.App {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App code {
  background: #0002;
  padding: 4px 8px;
  border-radius: 4px;
}

.App-header {
  /* margin-top: 5vh; */
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #0003;
}
